* {
  box-sizing: border-box;
}

.main {
  padding-top: 50px;
}

.main__info {
  text-align: center;
}

.main__wrapper {
  display: flex;
  height: 500px;
  justify-content: space-evenly;
}

.main__left-wrapper {
  width: 50%;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main__history-list {
  position: relative;
  padding: 20px;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}

.history {
  font-size: 20px;
  font-weight: 500;
  color: green;
}

.btn:focus {
  box-shadow: none;
}

.reverse {
  margin-top: 75px;
}

.main__progress {
  position: relative;
}

.done {
  position: absolute;
  left: 0;
  top: 35%;
}

.main__input-money {
  width: 270px;
  height: 13%;
  margin-top: 20px;
}

input {
  padding: 10px;
  background-color: #F1F2F5;
}

input:focus{
  outline: none;
}

.usd {
  color: green;
  font-size: 24px;
  font-weight: 700;

}

.uzs {
  color: green;
  font-size: 24px;
  font-weight: 700;
}

#warning {
  display: none;
  color: red;
  height: 20px;
}

.clear {
  position: absolute;
  bottom: 10px;
}